section {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

#miscOptions {
  max-width: 200px;
}

label {
  display: flex;
  justify-content: space-between;
}

.hide {
  display: none !important;
}